<!DOCTYPE html>
<html>
<head>
    <title>Sample Web</title>
    <meta charset="utf-8">
    <script src="./js/lib.js"></script>
    <script src='./js/main.js' async></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
    <h1>Wellcome to use this "Sample Web Prject"</h1>
    <p>
        You can add js library in to "src/js/lib", change your css in "src/sass/main.scss"
    </p>
</body>
</html>